*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --nutmeg: hsl(14,45%,36%);
    --dark-rassberry: hsl(332,51%, 32%);
    --white: hsl(0,0%,100%);
    --rose-white: hsl(330,100%,98%);
    --eggshell: hsl(30,54%,90%);
    --wenge-brown: hsl(30,10%,34%);
    --dark-charocal: hsl(24,5%,18%)
}

body {
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;
}
img {
    max-width: 100%;
    display: block;
}


